<div class="container">
  <div class="row">
    <div class="mat-card-title col-sm">
      <div class="mat-card">
        <form class="example-form">
          <mat-form-field class="flight-pnr">
            <input matInput placeholder="Pnr">
          </mat-form-field>
          <mat-form-field class="flight-pnr">
            <input matInput placeholder="Lastname">
          </mat-form-field>
          <mat-card-actions layout="row" layout-align="center">
          </mat-card-actions>
          <button mat-button>Get Details</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-components-dashboard-dashboard></app-components-dashboard-dashboard>